# Tuple

In [1]:
t=() #empty tuple
t

()

In [2]:
type(t)

tuple

In [3]:
t1=(10,20,30,40,50,10) #can have Repeated values
t1

(10, 20, 30, 40, 50, 10)

In [4]:
t2=(100,3.45,'str',True,1+2j) #Multiple datatypes are allowed
t2

(100, 3.45, 'str', True, (1+2j))

In [5]:
t3=((1,2,3),[8,1,4,9],('str','abc')) #Nested Tuple
t3

((1, 2, 3), [8, 1, 4, 9], ('str', 'abc'))

In [6]:
type(t3)

tuple

In [7]:
len(t1) #length

6

#### count()

In [8]:
t1.count(10) #no.of times the element contained

2

In [9]:
t1

(10, 20, 30, 40, 50, 10)

#### index()

In [10]:
t1.index(40) #returns index value

3

In [11]:
t1

(10, 20, 30, 40, 50, 10)

In [12]:
t1[0] #indexing

10

In [13]:
t1[3]

40

## Tuple is Immutable

In [14]:
t1[1]

20

In [15]:
t1[1]=1000  #we cant assign/change the value

TypeError: 'tuple' object does not support item assignment

In [16]:
sbi=(254816291860,'niz481397','04/04/2000',184269)
sbi

(254816291860, 'niz481397', '04/04/2000', 184269)

In [17]:
sbi[0]=151438231846

TypeError: 'tuple' object does not support item assignment

In [18]:
del sbi[0]

TypeError: 'tuple' object doesn't support item deletion

##### Concatenate on tuple

In [19]:
t1

(10, 20, 30, 40, 50, 10)

In [20]:
t4=t1*3
t4

(10, 20, 30, 40, 50, 10, 10, 20, 30, 40, 50, 10, 10, 20, 30, 40, 50, 10)

In [21]:
t5=t1+2

TypeError: can only concatenate tuple (not "int") to tuple

### Slicing

In [22]:
t1[:]

(10, 20, 30, 40, 50, 10)

In [23]:
t1[3:]

(40, 50, 10)

In [24]:
t1[:4]

(10, 20, 30, 40)

In [25]:
t1[::2]

(10, 30, 50)

#### Loop through Tuple

In [26]:
t1

(10, 20, 30, 40, 50, 10)

In [27]:
for i in t1:
    print(i)

10
20
30
40
50
10

In [28]:
t3

((1, 2, 3), [8, 1, 4, 9], ('str', 'abc'))

In [29]:
for i in enumerate(t3):
    print(i)

(0, (1, 2, 3))
(1, [8, 1, 4, 9])
(2, ('str', 'abc'))

#### Tuple Membership

In [30]:
t1

(10, 20, 30, 40, 50, 10)

In [31]:
10 in t1

True

In [32]:
155 in t1

False

In [33]:
t2

(100, 3.45, 'str', True, (1+2j))

In [34]:
'str' in t2

True

### Sorting

In [35]:
t4 #there is no tuple inbuilt function to sort so we use sorted()

(10, 20, 30, 40, 50, 10, 10, 20, 30, 40, 50, 10, 10, 20, 30, 40, 50, 10)

In [36]:
sorted(t4) #gives output in list

[10, 10, 10, 10, 10, 10, 20, 20, 20, 30, 30, 30, 40, 40, 40, 50, 50, 50]